@import './global/variables';
@import './components/HomePage';
@import './components/Profile';
@import './components/FriendBrowser';
@import './components/SignUp';
@import './page/page';
@import './page/mediaQueries';
