.profile-name-well {
  padding-left: 10px;
  background-color: $deep-blue;
  border: 1px solid $deep-blue;
}

.profile-text {
  margin-left: 10px;
}


.picture-well {
  text-align: center;
}
.edit-profile-button {
  float:right;
  margin: 15px;
}

.upload-new-pic-button {
  margin: 10px;
  margin-left: 30px;
}

.profile-pic-modal {
  text-align: center;
  max-height: 200px;
  max-width: 200px;
  margin: 20px;
  margin-left: 40px;
}

.modal-header, .modal-footer {
  background-color: $deep-blue;
}

.modal-body {
  background-color: $bgcolor;
}

