.profile-name {
}

.profile-name-well {
  padding-left: 10px;
  background-color: $deep-blue;
  border: 1px solid $deep-blue;
}

.edit-profile-button {
  float:right;
  margin: 15px;
}

.profile-pic {
  text-align: center;
}

.profile-description {

}

.modal-header, .modal-footer {
  background-color: $deep-blue;
}

.modal-body {
  background-color: $bgcolor;
}

