.greeting-well {
  background-color: $deep-blue;
  border: 1px solid $deep-blue;
}

.center-element {
  display: flex;
  justify-content: center;
}

.upload-pic {
  margin:10px;
}

.create-profile-button {
  float:right;
}